/* NORMALIZACION:  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y el alto a pesar del padding y border*/
    font-family: 'Inconsolata', monospace;
    list-style: none; /*Quita los puntos de las listas*/
    text-decoration: none; /*Quita los subrayados de los links*/
    color: white;
}

body {
    background-color: black;
}

header {
    position: fixed; /*Esto hace que el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100; /*Esto hace que el header se muestre por encima */
    width: 100%;
    display: flex; /*Esto hara que los elemntos se pongan en linea*/
    align-items: center; /*Alinea los elementos verticalmente al centro*/
    justify-content: space-between; /*Esto hace que los elementos se separen lo maximo posible*/
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800; /*Hace que la letra sea mas gruesa*/
}

.navlist {
    display: flex; /*Hace que los elementos de la lista se pongan en linea*/

}

.navlist a {
    margin-left: 60px; /* es para separar los enlaces */
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /*Este es un subrayado transparente */
    transition: all .5 ease; /* esto es para animar todas la caracteristicas del .navlist a */
}

.navlist a:hover{
    border-bottom: 2px solid white; /*Este es un subrayado blanco cuando estamos encima con el mouse */
}

#menu-icon{
    display: none;  /*Esto es para que solo se vea cuando la pagina sea mas chica */
} 

#menu-icon{
    font-size: 35px;
    z-index: 101; /*Para que se vea por encima del header */
    cursor: pointer; /*Para que aparezca que se puede hacer click */
}

#menu-toggle{
    display: none; /*Nunca quiero que se vea el checkbox */
}

.menu-icon-action{
    display: none; /*Para que no se le pueda hacer click*/
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%); /*Fondo de color gradiente*/
    position: relative; /*Para que sea relativo al contenedor (nos permite usar top, bottom, left, right)*/
    display: grid; /* Para que el hero se puede dividir en dos columnas */
    grid-template-columns: 1fr 1fr; /*las 2 columnas */
    align-items: center; /* Para alinear verticalmente el hero */
    gap: 2rem; /* Para que haya espacio entre las dos columnas */
    padding-left: 120px;
}

section {
    padding: 0 3%;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0  0 30px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /*Esto hace que la transicion sea linear */
}

.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}

.hero-text a{
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

 .icons i {
    display: block;
    margin: 24px 0;
    font-size: 24px;
    transition: all 0.5s ease; 
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-5px); 
}  

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

/* Aca vamos a hacer mediaqueries para que la pagina sea responsiva */

@media (max-width: 992px){
    section{
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero{
        padding-left: 15px;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr; /*una sola columna */
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%; /*Para que no se vea al principio */
        width: 200px;
        height: 180px;
        background-color: #04242874;
        display: flex;
        flex-direction: column; /*Para que los elementos se pongan en columna */
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease;
    }

    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul {
        right: 0;
    }

}